In [1]:
import numpy as np
import pandas as pd

In [2]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.count()

Area Code       60943
Area            60943
Item Code       60943
Item            60943
Element Code    60943
Element         60943
Unit            60943
Y2014           59354
Y2015           59395
Y2016           59408
Y2017           59437
Y2018           59507
dtype: int64

In [5]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.mean()

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [6]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.median()

Area Code        136.00
Item Code       2630.00
Element Code    5142.00
Y2014              0.09
Y2015              0.08
Y2016              0.08
Y2017              0.10
Y2018              0.07
dtype: float64

In [7]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.mode()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,114,Kenya,2905,Milk - Excluding Butter,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0

In [8]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.sum()

Area Code                                                 8182547
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                               163764610
Item            PopulationPopulationGrand TotalGrand TotalGran...
Element Code                                            232488797
Element         Total Population - Both sexesDomestic supply q...
Unit            1000 persons1000 tonneskcal/capita/dayg/capita...
Y2014                                                  7965086.13
Y2015                                                  8032340.23
Y2016                                                  8112472.65
Y2017                                                  8375729.19
Y2018                                                  8554629.96
dtype: object

In [9]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.std()

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1567.663696
Y2015           1603.403984
Y2016           1640.007194
Y2017           1671.862359
Y2018           1710.782658
dtype: float64

In [10]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.var()

Area Code       5.271589e+03
Item Code       2.133228e+04
Element Code    4.892975e+06
Y2014           2.457569e+06
Y2015           2.570904e+06
Y2016           2.689624e+06
Y2017           2.795124e+06
Y2018           2.926777e+06
dtype: float64

In [11]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.skew()

Area Code       -0.074067
Item Code        0.604413
Element Code    -0.699385
Y2014           51.733722
Y2015           52.346299
Y2016           53.434408
Y2017           52.612499
Y2018           52.694074
dtype: float64

In [12]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.kurt()

Area Code         -1.046870
Item Code         -1.081319
Element Code      -1.463794
Y2014           4149.966116
Y2015           4205.224820
Y2016           4350.823096
Y2017           4290.395360
Y2018           4312.278791
dtype: float64

In [13]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.min()

Area Code                              4
Area                             Algeria
Item Code                           2501
Item                   Alcohol, Non-Food
Element Code                         511
Element         Domestic supply quantity
Unit                        1000 persons
Y2014                            -1796.0
Y2015                            -3161.0
Y2016                            -3225.0
Y2017                            -1582.0
Y2018                            -3396.0
dtype: object

In [14]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.max()

Area Code                       276
Area                       Zimbabwe
Item Code                      2961
Item                           Yams
Element Code                   5911
Element         Tourist consumption
Unit                             kg
Y2014                      176405.0
Y2015                      181137.0
Y2016                      185960.0
Y2017                      190873.0
Y2018                      195875.0
dtype: object

In [15]:
path= open(r"C:\Users\PC\Documents\Hamoye Classwork\CSV File\Hamoye Food Balance Sheets_CSV.csv")
data= pd.read_csv(path)
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000